body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Reset CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  background-color: #f5f5f5;
}

#header div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header >   div {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}
#header >   div >div {
  position: relative;

}
#header >div >div > input:focus ~ label{
  opacity: 0;
}

.header_search{
  background-color: #f5f5f5;
  border: none;
  height: 50%;
  font-size: 20px;
  border-bottom: 2px solid silver;
  text-decoration: none;
  outline: none;
}

#header >div >div >label {
  opacity: 1;
  position: absolute;
  top : 28%;
  left: 0px;
}
.fa-search:hover {
  color: cyan;
}
.fa-search:active{
  color: blue;
}
.fa-search {
  position: absolute;
  top:28%;
  cursor: pointer;
  right: 0px;
}

#header > div button {
  height: 100%;
}
#header >div 
.header_btn{
  position: relative;
  background-color:#3788d3;
  height: 65%;
  font-size: 18px;
  border-radius: 5px;
  width: 100px;
}
.header_btn_add:active {
  color: white;
}
.header_btn_add {
  position: absolute;
  width: 100%;
  /* top:0px; */
  left:  50%;
  color: #c5d5f0;
  transform: translateX(-36%);
  text-decoration: none;
  /* color:initial; */
}


/* for icon USEr */
.icon_user{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon_user-update {
  color : #00b052;
}

.icon_user-delete{
  color : red;
}

.icon_user-update ,.icon_user-delete{
  cursor: pointer;
  margin-left: 100px;
}
.option_user{
  text-align: center;
}


/* css for form update USER */
.form-group{
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}
.form-group_label , .form-message {
  text-align: left;

}
.form {
  margin-top: 10px;
  width: 500px;
  text-align: center;
}

.content_form{
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: center;
}
.form-group_text{
  height: 40px;
padding: 8px 12px;
border: 1px solid #b3b3b3;
border-radius: 3px;
  outline: none;
}
.form-group_text:hover,.form-group_text:focus{
  border-color:  #1dbfaf;
}

.form-group.invalid .form-group_text {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}
